@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:wght@300;500;700&display=swap');
/* Setting Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Gradiente que inicia em x inicial(0%) e finaliza em Y com 100%*/
    background: linear-gradient(180deg, #7267f1 0%, #8dd0f5 100%);
}

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 2rem;
    color: #fdfdfd;
}

/* FORM */
.form h2 {
    margin-bottom: 1rem;
}

.form-input-div {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    border-radius: 5px;
    outline: none;
    /* Flex 1 assume a maior área possível dentro de seu div pai */
    flex: 1;
}

.form button {
    padding: .8rem;
    margin-left: 8px;
    min-width: 50px;
    background-color: #a893f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Weather Div acessando o id com # */
#weather-data {
    border-top: 1px solid white;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

/* Diminuindo o ícone dentro do h2 da div de id Weather data */
#weather-data h2 i {
    font-size: 1rem;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
}


/* Info que contém o nome da cidade */
#weather-data span {
    margin: .6rem;
}

#country-flag {
    height: 20px;
    border-radius: 8px;
}

/* Container que armazena o ícone e texto de condição do tempo */
#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

/* Armazena as informações de umidade e vento */
#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #umidity {
    border-right: 1px solid white;
    margin: .6rem;
    padding: .6rem;
}